*{
    margin: 0;padding: 0; box-sizing: border-box;
}

header{
    width:100%;
    height:100vh;
    border-style: groove;
    /* background-color: #7f53ac;
    background-image: linear-gradient(315deg, #7f53ac 0%, #647dee 74%); */
    position: relative;
}
/* header:before{
    content: "";
    width: 500px;
    height: 500px;
    position: absolute;
    left: 0;
    bottom: 0;
    background-image: url('images3.jpg');
    background-size: 100% 100%;
} */

nav{
    width: 100%;
    height: 12vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    background-image: url('banner.jpg');
}
/* .navbar.logo{
    height: .5em;
    width: 0.5em;

} */

.logo a{
    /* color: white; */
    color: white;
    text-decoration: none;
    font-size: 1.6rem;
}
.logo a:hover{
    border-top:2px solid #5dade2 ;
    border-bottom:2px solid #5dade2 ;
}

.menu ul li{
    list-style:none;
    display: inline-block;
    padding: 0 15px;
}

.menu ul li a{
    text-decoration: none;
    /* color: white; */
    color: white;
    text-transform: capitalize;
    font-size: 1.3rem;
}

.active, ul li:hover{
    border-top:2px solid #5dade2 ;
    border-bottom:2px solid #5dade2 ;
}

.content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%) ;
    text-align: center;
}

.content h1{
    /* color: white; */
    color: black;
    border-bottom: 1px solid black;
    margin:  5px;
}


.content h3{
    color: black;    
}

/* .card{
padding: 600px 0 ;
display: inline-block;

}
.card1{
    
    padding: 600px 300px ;
    display: inline-block;
    
    } */

    .txt ul li{
        list-style:none;
        display: inline-block;
        padding: 600px 15px;
    }

    /* about page */

    .aboutbody{
        /* background-color: #7f53ac;
    background-image: linear-gradient(315deg, #7f53ac 0%, #647dee 74%); */
    
    }
.section {
    width: 100%;
}

.section .container{
    width: 80%;
    display: block;
    margin: 0px auto;
    padding: 50px 0px ;
}
.container .title{
    width: 100%;
    text-align: center;
    margin-top: 40px;
    margin-bottom:70px ;

}
.container .title h1{
    text-transform: uppercase;
    font-size: 35px;
    /* color: #88941e;     */
    color: red;    
}
.container .title h1::after{
    content: "";
    height: 5px;
    width: 100px;
    background-color: #c4d156;
    border-radius: 25px;
    display: block;
    margin: auto;
}

.article{
    height: 100px;
    width: 500px;
}

.content{
    float: left;
    width: 55%;

}
.image-section{
    float: right;
    width: 40%;
}
.image-section img{
    width: 100%;
    height: auto;
}
.content .article h3{
    /* color:#a3a3a3 ; */
    color:black ;
    font-size: 17px;
}
.content .article p{
    margin-top: 20px;
    /* color: #a3a3a3; */
    font-size: 16px;
    line-height: 1.5;
    /* color: #333; */
    color:black;
}
.content .article .button{
    margin-top:12px;
}

.content .article .button a{
    text-decoration: none;
    padding: 8px 25px;
    background-color: #88941e;
    border-radius: 40px;
    color:#fff;
    font-size: 18px;
    letter-spacing: 1.5px;
}
.content .article .button a:hover{
    color: #fff;
    background-color: #f28f92;
    transition: 1s ease;
}
@media screen and (max-width:768px) {
    .section .container{
        width: 80%;
        display: block;
        margin: auto;
    }
    .content{
        float: none;
        width: 100%;
        display: block;
        margin: auto;
    }
    .image-section{
        float: none;
        width: 100%;
        margin-top: 50px;
    }
    .image-section img{
        width: 100%;
        height: auto;
        display: block;
        margin: auto;
    }
    .container .title h1{
        text-align: center;
        font-size: 30px;

    }
    .container .article .button{
        text-align: center;
    }
    .container .article .button a{
        padding: 6px 15px;
        font-size: 16px;
    }
    
}

/* read more page */
.readmore{
    width: auto;
    height: 800px;
    border: groove;
}
 .headerread{

    width: auto;
    height: 200px;
    border-style: groove;
    /* background-color: black; */
    background-image: url('banner.jpg');
  
    /* background-color: #7f53ac;
    background-image: linear-gradient(315deg, #7f53ac 0%, #647dee 74%); */
    
} 
.headerread h2{
    text-align: center;
    margin-top: 80px;
    color: white;
}

.bodypart{
width: 1500px;
height: 550px;
border-style: groove;
margin-top:5px ;
}
.bodypart .imagepart{
    width: 800px;
    height: 300px;
    /* border-style: groove; */
    /* background-color: #7f53ac;
    background-image: linear-gradient(315deg, #7f53ac 0%, #647dee 74%);*/
    background-image: url('readmoree.jpg'); 
    background-repeat: no-repeat;
    background-size: 350px 350px;
    display: inline-block;

}
.bodypart .imagepart .img1{
    width: 50%;
    height: 100%;
    /* border-style: groove; */
    float: right;
    background-image: url('readmoree1.jpg'); 
    background-repeat: no-repeat;
    background-size: 400px 350px;
    
}

 .bodypart .newspart{
    width: 400px;
    height: 520px;
    border-style: groove;
    float: right;
}
.bodypart .newspart h2{
    color: green;
    text-align: center;
}
.bodypart .newspart .news{
    width: 400px;
    height: 470px;
    /* border-style: groove; */
}
.bodypart .newspart .news h3{
    color: blue;
    padding: 5px;
}
.bodypart .newspart .news p{
    padding: 10px;
}
.bodypart .newspart .news hr{
    
    border: 1px solid black;
}
h4{
    padding: 7px;
    
}
.h3{
    color: blue;
    text-align: center;
}
p{
    padding: 10px;
}
footer{
    width:1515px;
    height: 35px;
    margin-top: 5px;
    /* background-color: rgb(12, 100, 198); */
    background-image: url('banner.jpg');
    border: groove;
}
footer center{
    padding: 5px;
    color: white;
}

/* policy */

.section {
    width: 100%;
}

.section1 .container1{
    width: 100%;
    display: block;
    margin: 0px auto;
    padding: 50px 1px 1px 1px ;
    border-style: groove;
}
.container1 .title{
    width: 100%;
    text-align: center;
    margin-top: 40px;
    margin-bottom:40px ;

}
.container1 .title h1{
    text-transform: uppercase;
    font-size: 35px;
    /* color: #88941e;    */
    color: red;    
}
.container1 .title h1::after{
    content: "";
    height: 5px;
    width: 100px;
    background-color: #c4d156;
    border-radius: 25px;
    display: block;
    margin: auto;
}
